
<p class="govuk-body">
  You may be eligible for a <a href="https://www.gov.uk/teacher-training-funding" class="govuk-link">loan while you study</a>.
</p>
<p class="govuk-body">
  <a href="https://getintoteaching.education.gov.uk/explore-my-options/overseas-graduates" class="govuk-link">Financial support if you’re from outside of the UK</a>.
</p>
