@model GovUk.Education.SearchAndCompare.UI.Shared.ViewModels.CourseDetailsViewModel;

@using GovUk.Education.SearchAndCompare.Domain.Models;
@using GovUk.Education.SearchAndCompare.Domain.Models.Enums;
@using GovUk.Education.SearchAndCompare.UI.Shared.ViewFormatters;
@using GovUk.Education.SearchAndCompare.UI.Shared.ViewModels;
@{
  var course = Model.Course;
}

<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="section-financial-support">Financial support</h2>

  @if (course.IsSalaried)
  {
    @await Html.PartialAsync("_Salaried.cshtml");
  }
  else {
    if (course.HasScholarshipAndBursary())
    {
      @await Html.PartialAsync("_ScholarshipAndBursary.cshtml");
    }
    else if (course.HasBursary())
    {
      @await Html.PartialAsync("_Bursary.cshtml");
    }
    else
    {
      <p class="govuk-body">
        You may be eligible for a <a href="https://getintoteaching.education.gov.uk/funding-my-teacher-training/tuition-fee-and-maintenance-loans" class="govuk-link">loan while you study</a>.
      </p>
    }

    <p class="govuk-body">
      Find out about financial support if you’re from <a href="https://getintoteaching.education.gov.uk/explore-my-options/overseas-graduates" class="govuk-link">outside the UK</a>.
    </p>
  }

  @if(Model.HasSection(CourseDetailsSections.FinancialSupport))
  {
    <h3 class="govuk-heading-m">Financial support from the training provider</h3>
    @Html.Raw(Model.GetHtmlForSection(CourseDetailsSections.FinancialSupport));
  }
</div>
