@model GovUk.Education.SearchAndCompare.UI.Shared.ViewModels.CourseDetailsViewModel;

@using GovUk.Education.SearchAndCompare.Domain.Models;
@using GovUk.Education.SearchAndCompare.Domain.Models.Enums;
@using GovUk.Education.SearchAndCompare.UI.Shared.ViewFormatters;
@using GovUk.Education.SearchAndCompare.UI.Shared.ViewModels;

<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="section-financial-support">Financial support</h2>

  @if (Model.Course.IsSalaried)
  {
    @await Html.PartialAsync("_Salaried.cshtml");
  }
  else
  {
    @if(Model.)
    @await Html.PartialAsync("_Default.cshtml");
  }

  @if(Model.HasSection(CourseDetailsSections.FinancialSupport))
  {
    <h3 class="govuk-heading-m">Financial support from the training provider</h3>
    @Html.Raw(Model.GetHtmlForSection(CourseDetailsSections.FinancialSupport));
  }
</div>
