@model GovUk.Education.SearchAndCompare.UI.Shared.ViewModels.CourseDetailsViewModel;

@using GovUk.Education.SearchAndCompare.Domain.Models;
@using GovUk.Education.SearchAndCompare.Domain.Models.Enums;
@using GovUk.Education.SearchAndCompare.UI.Shared.ViewFormatters;
@using GovUk.Education.SearchAndCompare.UI.Shared.ViewModels;

@{
  Microsoft.AspNetCore.Html.HtmlString section = null;
}

@if (Model.PreviewMode || Model.HasSection(CourseDetailsSections.AboutTheCourse))
{
  <div class="govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-m" id="section-about">About the course</h2>

    @if ((section = Model.GetHtmlForSection(CourseDetailsSections.AboutTheCourse)) != null)
    {
      @Html.Raw(section)
    }
    else
    {
      <p class="missing-section">Please add details for this section.</p>
    }
  </div>
}
