@model GovUk.Education.SearchAndCompare.UI.Shared.ViewModels.CourseDetailsViewModel;

@using GovUk.Education.SearchAndCompare.Domain.Models;
@using GovUk.Education.SearchAndCompare.Domain.Models.Enums;
@using GovUk.Education.SearchAndCompare.UI.Shared.ViewFormatters;
@using GovUk.Education.SearchAndCompare.UI.Shared.ViewModels;

@{
  var section = Model.GetHtmlForSection(CourseDetailsSections.AboutSchools);
}

@if (Model.PreviewMode || Model.HasSection(CourseDetailsSections.AboutSchools))
{
  <div class="govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-l" id="section-schools">How school placements work</h2>
    @if (section != null)
    {
      @Html.Raw(section)
    }
    else
    {
      <p class="missing-section">Please add details for this section.</p>
    }
  </div>
}
