@model GovUk.Education.SearchAndCompare.UI.Shared.ViewModels.CourseDetailsViewModel;

@using GovUk.Education.SearchAndCompare.Domain.Models;
@using GovUk.Education.SearchAndCompare.Domain.Models.Enums;
@using GovUk.Education.SearchAndCompare.UI.Shared.ViewFormatters;
@using GovUk.Education.SearchAndCompare.UI.Shared.ViewModels;

<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="section-financial-support">Financial support</h2>
  @if (Model.Course.IsSalaried)
  {
    <p class="govuk-body">Financial support isn’t available for this course.</p>
    <p class="govuk-body">
      If you choose a course without a salary, you may be eligible for financial support while you study, including bursaries, scholarships and loans.
    </p>
  }
  else
  {
    <p class="govuk-body">
      You may be eligible for <a href="https://www.gov.uk/teacher-training-funding" class="govuk-link">financial support while you study, including bursaries, scholarships and loans</a>.
    </p>
    <p class="govuk-body">
      <a href="https://getintoteaching.education.gov.uk/explore-my-options/overseas-graduates" class="govuk-link">Financial support if you’re from outside of the UK</a>.
    </p>
  }

  @if(Model.HasSection(CourseDetailsSections.FinancialSupport))
  {
    <h3 class="govuk-heading-m">Financial support from the training provider</h3>
    @Html.Raw(Model.GetHtmlForSection(CourseDetailsSections.FinancialSupport));
  }
</div>
