.twitter-typeahead {
  width: 100%;
}

.tt-suggestion {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  padding: 7.5px;
  cursor: pointer;
}

.tt-suggestion:hover,
.tt-cursor {
  background-color: #d5e8f3;
}

.tt-menu {
  width: 100%;
  background-color: white;
  border: #bfc1c3 2px solid;
  box-shadow: 0 3px 2px #bfc1c3;
}

.tt-hint {
  visibility: hidden !important;
}

@media screen and (min-width: 641px) {
  .panel .tt-menu {
    width: 50%;
  }
}

.tt-highlight {
  font-weight: bold;
}
