<h2 class="govuk-heading-l">
  There are no courses matching your&nbsp;search
</h2>
<p class="govuk-body">
  You can <a href='@Url.Action("LocationWizard", "Filter")' class="govuk-link">try another search</a>, for example by changing subject or location.
</p>
