@model ResultsViewModel

@{
  var mapModel = Model.Map;
}

<div class="google-map" id="map"></div>
<div id="legend" class="google-map-legend">
  <h3 class="govuk-heading-m">Map markers</h3>
  <ul class="govuk-list govuk-!-margin-0">
  </ul>
</div>
