@{
  Layout = "~/Views/Shared/_Layout_base.cshtml";
  ViewData["serviceName"] = "Find postgraduate teacher training";

  ViewBag.Title = (String.IsNullOrEmpty(ViewBag.Title) ? "" : ViewBag.Title + " - ")
    + ViewData["serviceName"] + " - GOV.UK";
  ViewData["headerClass"] = "with-proposition";
}

@section head {
  <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">

  @if (ViewData["SEND_ANALYTICS"] != null) {
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-112932657-1', 'auto');
      ga('set', 'transport', 'beacon');
      ga('set', 'anonymizeIp', true);

      if (location.search) {
        var search = location.search;
        var params = ['lat', 'lng', 'loc', 'lq'];
        for( i = 0; i < params.length; i++ ){
          search = search.replace( new RegExp( '([?&])'+params[i]+'(=[^&]*)?&?', 'gi' ), '$1' );
        }
        ga('set', 'location', window.location.protocol + "//" + window.location.host + window.location.pathname + search)
      }

      ga('send', 'pageview');
    </script>
  }
}

@section bodyEnd {
  <script src="~/application.js" asp-append-version="true"></script>
}

@section footerSupportLinks {
  <h2 class="govuk-visually-hidden">Support links</h2>
  <ul class="govuk-footer__inline-list">
    <li class="govuk-footer__inline-list-item">
      <a class="govuk-footer__link" href="mailto:becomingateacher@digital.education.gov.uk?subject=Search%20beta%20feedback">Give feedback</a>
    </li>
    <li class="govuk-footer__inline-list-item">
      <a class="govuk-footer__link" href="/cookies">Cookies</a>
    </li>
    <li class="govuk-footer__inline-list-item">
      <a class="govuk-footer__link" href="/privacy-policy">Privacy Policy</a>
    </li>
    <li class="govuk-footer__inline-list-item">
      <a class="govuk-footer__link" href="/terms-conditions">Terms and conditions</a>
    </li>
  </ul>
}

@section bodyContent {
  <div class="govuk-width-container">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">BETA</strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your
          <a href="mailto:becomingateacher@digital.education.gov.uk?subject=Search%20beta%20feedback" class="govuk-link">feedback</a>
          will help us to improve it.
        </span>
      </p>
    </div>
    @RenderBody()
  </div>
}
