@{
    Layout = "~/Views/Shared/_Layout_base.cshtml";
    ViewData["serviceName"] = "Find postgraduate teacher training";
    ViewData["pageTitle"] = ViewData["serviceName"] + " - GOV.UK";
    ViewData["headerClass"] = "with-proposition";    
}

@section head {
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112932657-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-112932657-1', {
        'anonymize_ip': true,
        'send_page_view': false,
        'custom_map': {
            'dimension1': 'location',
            'dimension2': 'radius',
            'dimension3': 'subjects'
        }
    });

    // https://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return '';
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    gtag('event', 'sac_page_view', {
        'event_category': 'engagement',
        'event_label': location.pathname,
        'location': getParameterByName('loc') ?? "(none)",
        'radius': getParameterByName('rad') ?? "(none)",
        'subjects': getParameterByName('subjects') ?? "(none)"
    });
    
    </script>
}

@section propositionHeader {
    <div class="header-proposition">
        <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
            <a href="~/" id="proposition-name">@ViewData["serviceName"]</a>
            <ul id="proposition-links">
            </ul>
            </nav>
        </div>
    </div>
}

@section bodyEnd {
    <script src="~/javascripts/jquery-3.2.1.min.js"></script>
    <script src="~/javascripts/govuk/details.polyfill.js"></script>
    <script src="~/javascripts/govuk/selection-buttons.js"></script>
    <script src="~/javascripts/govuk/show-hide-content.js"></script>
    <script src="~/javascripts/application.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112932657-1"></script>
}


<main id="content" role="main">
    <div class="phase-banner">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    @RenderBody()
</main>