@model BackLinkViewModel

<div class="grid-row">
    <div class="column-full">
        <h3 class="heading-small">
        <a href='@Model.Href'
            class="link-back"
            title="@Model.Title"
            aria-label="@Model.AriaLabel">Back</a>
        </h3>
    </div>
</div>
