@model dynamic

<div class="grid-row">
    <div class="column-full">
        <h3 class="heading-small">
        <a href='@Model.href'
            class="link-back"
            title="@Model.title"
            aria-label="@Model.aria-label">Back</a>
        </h3>
    </div>
</div>
