@model BackLinkViewModel

<div class="grid-row">
    <div class="column-full">
        <h3 class="heading-small back-link">
        <a href='@Model.Href'
            class="link-back back-link"
            title="@Model.Title"
            aria-label="@Model.Title">Back</a>
        </h3>
    </div>
</div>
