@model ErrorViewModel

@if(Model != null) {
    <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">

        <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
            There is a problem with the information you provided.
        </h2>

        <p>
            Please change your answers below.
        </p>

        <ul class="list list-bullet">
            @foreach(var message in Model.Messages) {
                <li>@message</li>
            }
        </ul>
    </div>
}