@{
    ViewData["Title"] = "About Qualifications";
}

<div class="grid-row">
    <div class="column-full">
        <h3 class="heading-small">
        <a href='@Url.Action("Index", "Results", (ViewData["Filter"] as ResultsFilterViewModel)?.ToRouteValues())'
            class="link-back">Back</a>
        </h3>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge">
            About Teaching Qualifications
        </h1>
    </div>
</div>