@model QueryFilter

@{
    ViewBag.Title = $"About Qualifications";
}

@Html.Partial("Back", new BackLinkViewModel {
    Href = Url.Action("Index", "Results", Model.ToRouteValues()),
    Title = "Return to course search",
    AriaLabel = "Return to course search"
    })

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge">
            About Teaching Qualifications
        </h1>
    </div>
</div>