@{
    ViewData["Title"] = "About Qualifications";
}

@Html.Partial("Back", Url.Action("Index", "Results", (ViewData["Filter"] as ResultsFilterViewModel)?.ToRouteValues()))

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge">
            About Teaching Qualifications
        </h1>
    </div>
</div>