@model ResultsFilter

@{
  ViewBag.Title = $"Filter by qualification";
}

@Html.Partial("Back", new BackLinkViewModel { Href = Url.Action("Index", "Results", Model.ToRouteValues()), Title = "Back to search results"})

<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action='@Url.Action("StudyType", "Filter", Model.ToRouteValues())' method="POST">
        <fieldset role="radiogroup" aria-required="true" class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-heading-xl">The qualification you’ll&nbsp;get</h1>
          </legend>

          <div class="govuk-form-group">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input id="applyFilter-includepgce" class="govuk-checkboxes__input" type="checkbox" name="pgce" value="true" checked="@(Model.pgce || !Model.qts)">
                <label for="applyFilter-includepgce" class="govuk-label govuk-checkboxes__label">
                  <span class="govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-display-block">
                    Postgraduate certificate in education with qualified teacher status
                  </span>
                  <span>
                    With a course that offers a postgraduate certificate in education (PGCE) with qualified teacher status (QTS), you’ll be able to teach in England, Scotland, Wales and Northern Ireland. This qualification is also recognised internationally. Many PGCE courses include credits that count towards a Master’s degree.
                  </span>
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input id="applyFilter-includeqts" class="govuk-checkboxes__input" type="checkbox" name="qts" value="true" checked="@(Model.qts || !Model.pgce)">
                <label for="applyFilter-includeqts" class="govuk-label govuk-checkboxes__label">
                  <span class="govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-display-block">Qualified teacher status</span>
                  <span>
                    Qualified teacher status (QTS) allows you to teach in state schools in England.
                  </span>
                  <span>
                    If you want to teach in the rest of the UK or internationally, then you’ll need to do a course that offers ‘postgraduate certification in education with qualified teacher status’ instead.
                  </span>
                </label>
              </div>
            </div>
          </div>
        </fieldset>

        <input type="hidden" name="pgce" value="false">
        <input type="hidden" name="qts" value="false">

        <div class="govuk-form-group">
          <input class="govuk-button" type="submit" value="Find courses">
        </div>
      </form>
    </div>
  </div>
</main>
