@model ResultsViewModel

<div>
  <h2 class="heading-large" style="margin-top: 0">
    There are no courses matching your&nbsp;search
  </h2>

  <p>
    You can <a href='@Url.Action("LocationWizard", "Filter")'>try another search</a>, for example by changing subject or location.
  </p>

  <h3 class="heading-medium">Suggested searches</h3>
  <p>For business studies there are:</p>
  <ul class="list list-bullet">
    <li><a href="#">8 courses within 10 miles</a></li>
    <li><a href="#">2 courses with funding options available in England</a></li>
  </ul>

  <p>
    You can <a href="#">search for courses in other subjects</a> on the UCAS website.
  </p>
</div>
