<div id="noresults">
    <h2 class="heading-large">
        There are no courses matching your&nbsp;search
    </h2>
    <p>
        You can <a href='@Url.Action("LocationWizard", "Filter")'>try another search</a>, for example by changing subject or location.
    </p>
</div>
