@model ResultsViewModel

<div class="filter-form">
  <h2 class="govuk-heading-s filter-form__title">
    Subjects<span class="govuk-visually-hidden">:</span>
  </h2>
  <ul class="filter-form__value--list">
    @if (Model.FilterModel.senCourses)
    {
    <li>Only <abbr title="Special educational needs and disability">SEND</abbr> courses</li>
    }
    @foreach (var item in Model.Subjects.Items.OrderBy(x => x.Name).Take(4).Select(x => x.Name))
    {
      <li>@item</li>
    }
    @if (Model.Subjects.Items.Count() > 4)
    {
      <li>and @(Model.Subjects.Items.Count() - 4) more&hellip;</li>
    }
  </ul>
  <a href='@Url.Action("Subject", "Filter", Model.FilterModel.ToRouteValues())' class="govuk-link">Change subjects</a>
</div>
