@model ResultsFilter

<div class="filter-form">
  <h2 class="govuk-heading-s filter-form__title">
    Vacancies<span class="govuk-visually-hidden">:</span>
  </h2>
  <ul class="filter-form__value--list">
    @foreach (var item in Model.GetVacancyStrings())
    {
      <li>@item</li>
    }
  </ul>
  <a href='@Url.Action("Vacancy", "Filter", Model.ToRouteValues())' class="govuk-link">Change vacancies</a>
</div>
