
@{
    ViewBag.Title = $"Cookies page ";
}



<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large" role="heading">
            Cookies
        </h1>
    </div>
</div>
