 @{ ViewBag.Title = $"Privacy Policy"; }

<h1 class="heading-xlarge">Privacy Policy</h1>

<div class="grid-row">
    <div class="column-two-thirds">
        <p>This page explains our privacy policy and how we will use and protect any information about you that you give us when you visit this website. This privacy statement only covers the Search to Become a Teacher website. It does not cover all sites that can be linked to from this site, so you should always be aware when you are moving to another site and read the privacy statement on that site.</p>

        <h2 class="heading-large">What information do we collect?</h2>
        <p>
            If you are a user with general public and anonymous access, the Search to Become a Teacher website does not capture or store personal information about you but simply logs your IP address, which is automatically recognised by our web server. We will then use this data to track traffic to the service and continuously improve our service to better meet users’ needs. The site does not use cookies to collect user information. We collect one type of information from visitors to this website: feedback

        </p>
        <h3 class="heading-large">Feedback</h3>
        <p>
            We welcome your feedback. If you contact us asking for information, we may need to contact other government departments to find that information. We do not pass on any of your personal information when dealing with your enquiry, unless you have given us permission to do so. Once we have replied to you, we keep a record of your message for audit purposes.
        </p>

        <h2 class="heading-large">The Data Protection Act</h2>
        <p>
            Under the Data Protection Act, we have a legal duty to protect any information we collect from you. We use leading technologies and encryption software to safeguard your data, and keep strict security standards to prevent any unauthorised access to it. We do not pass on your details to any third party or other government department unless specifically stated.
        </p>
        <h2 class="heading-large">Changes to this privacy policy</h2>
        <p>
            If this privacy policy changes in any way, we will place an updated version on this page. Regularly reviewing this page ensures you are always aware of what information we collect, how we use it and under what circumstances, if any, we will share it with other parties.
        </p>
    </div>
</div>
