@model QueryFilter

<div class="filter-form">
    <div class="inner-block">

        <div class="padded-filter checkbox-filter js-openable-filter">
            <div class="head legend" role="term">
                Study type
            </div>
            <div class="filter-options checkbox-container-noscroll" id="funding-filter" role="definition">
                @string.Join(", ", Model.GetStudyTypeStrings())                
            </div>
            <div class="filter-change">
            <a href='@Url.Action("StudyType", "Filter", Model.ToRouteValues())'
               class="link">Change study type</a>
            </div>
        </div>
    </div>
  </div>