@model SuggestedSearchesViewModel

<h3 class="govuk-heading-m">Suggested searches</h3>

@if(Model.SuggestedSearches.Any()) {
    <p class="govuk-body">There are:</p>
    <ul class="govuk-list govuk-list--bullet">
      @foreach (var item in Model.SuggestedSearches)
      {
        var courseText = " course" + (item.TotalCount == 1 ? "" : "s");
        var areaText = item.ResultsFilter?.RadiusOption?.rad != null  item.ResultsFilter?.RadiusOption?.rad != null ?
          " within " + item.ResultsFilter.rad + " miles of " + item.ResultsFilter.loc :
          (
            Model.HasSalary ?
              " with " + item.ResultsFilter.GetFundingTypes().First().ToLowerInvariant() + " available in England" :
              " across England" );
        var text = item.TotalCount + courseText + areaText;

          <li>
            <a href="@(Url.Action("Index", "Results", item.ResultsFilter.ToRouteValues()))" class="govuk-link">@text</a>
          </li>
      }
    </ul>
}

<p class="govuk-body">
  You can <a href="https://www.ucas.com/ucas/teacher-training/ucas-teacher-training-search-training-programmes" class="govuk-link">search for courses in other subjects</a> on the UCAS website.
</p>
