@model List<SuggestedSearchViewModel>

<h3 class="heading-medium">Suggested searches</h3>

@if(Model.Any()) {
    <p>For business studies there are:</p>
    <ul class="list list-bullet">

    @foreach (var item in Model)
    {
      var courseText = " course" + (item.TotalCount == 1 ? "" : "s");
      var areaText = item.ResultsFilter.RadiusOption.HasValue ?
        " with " + item.ResultsFilter.GetFundingTypes().First().ToLowerInvariant() + " available within " + item.ResultsFilter.rad + " miles of " + item.ResultsFilter.loc :
        " with " + item.ResultsFilter.GetFundingTypes().First().ToLowerInvariant() + " available in England";
      var text = item.TotalCount + courseText + areaText;

        <li>
          <a href="@(Url.Action("Index", "Results", item.ResultsFilter.ToRouteValues()))">@text</a>
        </li>
    }

    </ul>
}

<p>
  You can <a href="https://www.ucas.com/ucas/teacher-training/ucas-teacher-training-search-training-programmes">search for courses in other subjects</a> on the UCAS website..
</p>
