@{
    ViewBag.Title = $"This service does not have every business studies course";
}

@Html.Partial("Back", new BackLinkViewModel {
    Href = "/",
    Title = "Back to start"
})

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl" role="heading">This service does not have every business studies course</h1>
            <p class="govuk-body">This service is still in development. It features a limited number of business studies courses in England. More courses are available on <a href="https://www.ucas.com/ucas/teacher-training/ucas-teacher-training-search-training-programmes">the UCAS website<a>.</p>
            <p class="govuk-body">
                <a class="govuk-button" href='@Url.Action("LocationWizard", "Filter")'>Continue</a>
            </p>
        </div>
    </div>
</main>
