<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-top-4">
          Find postgraduate teacher training
        </h1>
        <h2 class="govuk-heading-m">Courses starting in September 2020</h2>
        <p>Courses that start in September 2020 will be listed from 1 October 2019.</p>
        <p>Applications will open on 8 October 2019.</p>
        <p>Return in October to see these courses.</p>

        <h2 class="govuk-heading-m">Courses starting in the 2019/20 academic year</h2>
        <p>There are still vacancies for some courses, but you need to apply soon.</p>
        <p>Deadline for applications:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Friday 6 September (6pm) - if this is your first application for 2019/20</li>
          <li>Friday 20 September (6pm) - if you’ve already applied for 2019/20 and want to apply to another course</li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--m">

        <a href='@Url.Action("LocationWizard", "Filter")' class="govuk-button">Find courses that still have vacancies</a>
      </div>
    </div>
  </div>
</main>
