<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl" role="heading">
                <span class="heading-secondary">GOV.UK</span>
                Find postgraduate teacher&nbsp;training
            </h1>
            <p class="govuk-body-l">
                Use this service to search for teacher training courses.
            </p>
            <a href='@Url.Action("LocationWizard", "Filter")' class="govuk-button govuk-button--start" role="button">Start now</a>
        </div>
    </div>
</main>
