<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge" role="heading">
            <span class="heading-secondary">GOV.UK</span>
            Find postgraduate teacher training
        </h1>
        <p class="lede">
            Use this service to search for teacher training courses.
        </p>
        <a href='@Url.Action("LocationWizard", "Filter")'
           class="button button-start" role="button">Start now</a>
    </div>
</div>
