<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge" role="heading">
            Find postgraduate teacher training for business studies
        </h1>
        <p class="lede">
            Use this service to search and compare postgraduate teacher training courses in England.
        </p>
        <h3 class="heading-medium">
            Qualifications and experience
        </h3>
        <p>
            To get into a training course you&#8217;ll need the following qualifications, or the interational equivalent:
        </p>
        <ul class="list list-bullet">
            <li>
                grade C or above GCSEs in maths and English, plus a science subject if you want to teach in a primary school
            </li>
            <li>
                a British degree
            </li>
        </ul>
        <p>
           In most cases you&#8217;ll also need
           <a href="https://getintoteaching.education.gov.uk/school-experience">school experience</a>.
        </p>
        <p>
            If English isn&#8217;t your first language you&#8217;ll need to pass the IELTS exam with a score of 6.5 or higher, or an equivalent qualification.
        </p>

        <a href='@Url.Action("LocationWizard", "Filter")'
           class="button button-start" role="button">Start now</a>

        <h3 class="heading-medium">
            If you don&#8217;t want to teach business&nbsp;studies
        </h3>
        <p>
            You can
            <a href="https://www.ucas.com/ucas/teacher-training/ucas-teacher-training-search-training-programmes">find all teacher training courses</a>
            on the UCAS website.
        </p>

        <h3 class="heading-medium">
            If you don&#8217;t have a&nbsp;degree
        </h3>
        <p>
            Find out about
            <a href="https://getintoteaching.education.gov.uk/explore-my-options/teacher-training-routes/university-led-training/university-led-undergraduate-training">teaching if you don&#8217;t have a degree</a>
            on the Get into Teaching website.
        </p>

    </div>
</div>
