<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge" role="heading">
            Find postgraduate teacher training in business studies
        </h1>
        <p class="lede">
            Use this service to search and compare postgraduate teacher training courses in England.
        </p>

        <a href='@Url.Action("LocationWizard", "Filter")'
           class="button button-start" role="button">Start now</a>

        <h2 class="heading-medium">
            Qualifications you’ll need
        </h2>
        <p>
            To get onto a training course you’ll need the following qualifications or the international equivalent:
        </p>
        <ul class="list list-bullet">
            <li>
                grade C or above GCSEs in maths and English, plus a science subject if you want to teach in a primary school
            </li>
            <li>
                a British degree
            </li>
        </ul>
        <p>
            If English isn’t your first language you’ll need to pass the <a href="https://www.ielts.org" rel="external">IELTS exam</a> with a score of 6.5 or higher, or an equivalent qualification.
        </p>

        <h2 class="heading-medium">
            If you don&#8217;t want to teach business&nbsp;studies
        </h2>
        <p>
            You can
            <a href="https://www.ucas.com/ucas/teacher-training/ucas-teacher-training-search-training-programmes">find all teacher training courses</a>
            on the UCAS website.
        </p>

        <h2 class="heading-medium">
            Other ways into teaching
        </h2>
        <p>
            Find out more about teaching:
        </p>
        <ul class="list list-bullet">
            <li>
              if you <a href="https://getintoteaching.education.gov.uk/explore-my-options/teacher-training-routes/university-led-training/university-led-undergraduate-training">don’t have a degree</a>
            </li>
            <li>
              if you <a href="https://getintoteaching.education.gov.uk/explore-my-options/teacher-training-routes/specialist-training-options/assessment-only">have a degree and have already taught in 2 or more schools</a>&nbsp;–&nbsp;you might not need to do any more training
            </li>
            <li>
              <a href="https://getintoteaching.education.gov.uk/explore-my-options/become-an-early-years-teacher">Early Years</a>
            </li>
        </ul>

        <p>You could also earn a salary while you train through:</p>
        <ul class="list list-bullet">
            <li>
              <a href="https://www.teachfirst.org.uk">Teach First</a>
            </li>
            <li>
              <a href="http://www.researchersinschools.org">Researchers in Schools</a>, if you have a PhD
            </li>
        </ul>
    </div>
</div>
