$govuk-images-path: "/images/";
$govuk-fonts-path: "/fonts/";

$govuk-global-styles: true;

@import "node_modules/govuk-frontend/all";
@import "components/cookie-banner";
@import "components/preview-banner";
@import "components/map";
@import "components/missing-section";
@import "components/typahead";
@import "components/accordion";
@import "components/toggle";
@import "patterns/course-parts";
@import "patterns/success-summary";
@import "patterns/definition-list";
@import "patterns/filters";
@import "patterns/pagination";

// Add brackets around user name in header
.govuk-header__link--profile {
  @extend .govuk-header__link;

  &:after {
    content: ")";
  }

  &:before {
    content: "(";
    margin-left: govuk-spacing(1);
  }
}

// Custom list style
.govuk-list--dash {
  padding-left: govuk-spacing(4);
  list-style-image: url('/images/dash.png');
  margin-bottom: govuk-spacing(8);
}

// Add context to checkbox labels
.govuk-checkboxes__label .govuk-\!-font-weight-bold {
  display: block;
}

// Add a red border to .form-control-group if validation fails
.input-validation-error {
  border: 4px solid govuk-color("red");
}

// Custom divider to spilt radio buttons options i.e. "or"
.govuk-radios__divider {
  @include govuk-font($size: 19, $weight: normal);
  width: 40px;
  margin-bottom: 10px;
  text-align: center;
}

// custom table header border tickness
.govuk-table__header {
  border-bottom-width: 2px;
  border-bottom-color: govuk-color("black");
}

// Search results view
.search-results-filters {
  display: block;
}

.search-results {
  li {
    @include govuk-responsive-padding(6, "bottom");
    @include govuk-responsive-padding(6, "top");
    border-bottom: 1px solid $govuk-border-colour;
    margin: 0;
  }
}

.search-results-header {
  &__count {
    float: left;
  }

  &__new-search {
    float: right;
  }

  .govuk-form-group {
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    clear: both;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-top: 10px;

    @include mq ($from: desktop) {
      text-align: right;
    }
  }

  select {
    @include mq ($from: desktop) {
      width: 180px;
    }
  }

  .sortedby-label {
    @include mq ($from: desktop) {
      display: inline;
      margin-right: 0.5em;
    }
  }
}

.govuk-caption-xl {
  margin-top: govuk-spacing(2);
}

.govuk-footer__inline-list {
  margin-bottom: 0;
}

.govuk-footer__content {
  @include govuk-font($size: 16, $line-height: 1.5);
  color: $govuk-text-colour;
}
