<main role="main" class="govuk-main-wrapper" id="main-content">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">You are not permitted to see this page</h1>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">This page is restricted to certain users only.</p>
        <p class="govuk-body">
          <a class="govuk-link" href="mailto:becomingateacher@digital.education.gov.uk">Contact the Becoming a Teacher team</a> if you believe you are seeing this message in error.
        </p>
      </div>
    </div>
  </div>
</main>
