<main role="main" class="govuk-main-wrapper" id="main-content">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Try again later.</p>
        <p class="govuk-body">
          For advice about teaching or teacher training you can call Get into Teaching on Freephone 0800 389 2500 or chat to an adviser using their online chat service between 8am and 8pm, Monday to Friday.
        </p>
      </div>
    </div>
  </div>
</main>
