#finder-frontend header:after, #finder-frontend .filtering:after,
#results:after, .checkbox-filter .head:after {
    content: "";
    display: block;
    clear: both
}

#wrapper {
    max-width: 960px;
    margin: 0 15px
}

@media (min-width: 641px) {
    #wrapper {
        margin: 0 30px
    }
}

@media (min-width: 1020px) {
    #wrapper {
        margin: 0 auto
    }
}

#finder-frontend header, #finder-frontend .filtering {
    margin: 0 -15px
}

#finder-frontend header:after, #finder-frontend .filtering:after,
#results:after, .checkbox-filter .head:after {
    content: "";
    display: block;
    clear: both
}

#finder-frontend header:after, #finder-frontend .filtering:after,
#results:after, .checkbox-filter .head:after {
    content: "";
    display: block;
    clear: both
}
.app-c-date-filter {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    background-color: #dee0e2;
    padding: 0 10px;
    margin-bottom: 30px
}

@media (min-width: 641px) {
    .app-c-date-filter {
        font-size: 16px;
        line-height: 1.25
    }
}

.app-c-date-filter__label {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
    padding-top: 10px
}

@media (min-width: 641px) {
    .app-c-date-filter__label {
        font-size: 19px;
        line-height: 1.31579
    }
}

.app-c-date-filter__date {
    background: #fff;
    border: 1px solid #bfc1c3;
    width: 100%;
    margin-left: -1px;
    padding: 5px 0;
    text-indent: 5px;
    margin-bottom: 10px
}

.app-c-date-filter__help-text {
    display: block;
    padding: 10px 0
}

#wrapper {
    display: block
}

#finder-frontend {
    margin-bottom: 45px
}

#finder-frontend .signup-content p {
    margin: 15px 0;
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25
}

@media (min-width: 641px) {
    #finder-frontend .signup-content p {
        font-size: 19px;
        line-height: 1.31579
    }
}

@media (min-width: 641px) {
    #finder-frontend .signup-content p {
        margin: 30px 0;
        max-width: 66.66667%
    }
}

#finder-frontend legend {
    color: #0b0c0c;
    margin-bottom: 15px
}

@media (min-width: 641px) {
    #finder-frontend legend {
        margin-bottom: 20px
    }
}

#finder-frontend strong {
    font-weight: 600
}

#finder-frontend a.button, #finder-frontend input.button {
    background-color: #00823b;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    padding: .526315em .789473em .263157em;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    outline: 1px solid transparent;
    outline-offset: -1px;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 2px 0 #003618;
    -moz-box-shadow: 0 2px 0 #003618;
    box-shadow: 0 2px 0 #003618;
    font-size: 1em;
    line-height: 1.25;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: #fff;
    width: auto;
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2
}

#finder-frontend a.button:visited, #finder-frontend input.button:visited {
    background-color: #00823b
}

#finder-frontend a.button:hover, #finder-frontend a.button:focus,
#finder-frontend input.button:hover, #finder-frontend input.button:focus {
    background-color: #00692f
}

#finder-frontend a.button:active, #finder-frontend input.button:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #00823b;
    -moz-box-shadow: 0 0 0 #00823b;
    box-shadow: 0 0 0 #00823b
}

#finder-frontend a.button.disabled, #finder-frontend a.button[disabled="disabled"],
#finder-frontend a.button[disabled], #finder-frontend input.button.disabled,
#finder-frontend input.button[disabled="disabled"], #finder-frontend input.button[disabled] {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5
}

#finder-frontend a.button.disabled:hover, #finder-frontend a.button[disabled="disabled"]:hover,
#finder-frontend a.button[disabled]:hover, #finder-frontend input.button.disabled:hover,
#finder-frontend input.button[disabled="disabled"]:hover, #finder-frontend input.button[disabled]:hover {
    cursor: default;
    background-color: #00823b
}

#finder-frontend a.button.disabled:active, #finder-frontend a.button[disabled="disabled"]:active,
#finder-frontend a.button[disabled]:active, #finder-frontend input.button.disabled:active,
#finder-frontend input.button[disabled="disabled"]:active, #finder-frontend input.button[disabled]:active {
    top: 0;
    -webkit-box-shadow: 0 2px 0 #003618;
    -moz-box-shadow: 0 2px 0 #003618;
    box-shadow: 0 2px 0 #003618
}

#finder-frontend a.button:link, #finder-frontend a.button:link:focus,
#finder-frontend a.button:hover, #finder-frontend a.button:focus,
#finder-frontend a.button:visited, #finder-frontend input.button:link,
#finder-frontend input.button:link:focus, #finder-frontend input.button:hover,
#finder-frontend input.button:focus, #finder-frontend input.button:visited {
    color: #fff
}

#finder-frontend a.button:before, #finder-frontend input.button:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0
}

#finder-frontend a.button:active:before, #finder-frontend input.button:active:before {
    top: -10%;
    height: 120%
}

@media (min-width: 641px) {
    #finder-frontend a.button, #finder-frontend input.button {
        font-size: 24px;
        line-height: 1.25
    }
}

#finder-frontend header .title-and-metadata {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

@media (min-width: 641px) {
    #finder-frontend header .title-and-metadata {
        float: left;
        width: 66.66667%
    }
}

#finder-frontend header .summary {
    margin-bottom: 30px;
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25
}

@media (min-width: 641px) {
    #finder-frontend header .summary {
        font-size: 19px;
        line-height: 1.31579
    }
}

#finder-frontend header .email-link {
    margin-bottom: 30px
}

#finder-frontend header .email-link a {
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    text-decoration: none;
    background: url(https://assets.publishing.service.gov.uk/finder-frontend/mail-icon-56d6b86ca56fbf6996cc55581f1b7c33eed00ef3ae8ffa1aed1e5d92beddf2c6.png) 0 40% no-repeat;
    padding-left: 30px
}

@media (min-width: 641px) {
    #finder-frontend header .email-link a {
        font-size: 19px;
        line-height: 1.31579
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #finder-frontend header .email-link a {
        background-image: url(https://assets.publishing.service.gov.uk/finder-frontend/mail-icon-retina-875fea8b0999065a033d6d6f952eb6cb8f43507629d6ea4f7992dcc4eaed2cb9.png);
        background-size: 20px 14px
    }
}

#finder-frontend header .logo {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 30px 0
}

@media (min-width: 641px) {
    #finder-frontend header .logo {
        float: left;
    }
}

#finder-frontend header #logo-image {
    max-width: 100%
}

#finder-frontend header .related-links {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    margin-top: 45px;
    margin-bottom: 45px;
    list-style: none
}

@media (min-width: 641px) {
    #finder-frontend header .related-links {
        float: left;
    }
}

@media (min-width: 641px) {
    #finder-frontend header .related-links {
        font-size: 16px;
        line-height: 1.25
    }
}

#finder-frontend header .related-links li {
    margin-bottom: 4px
}

@media (min-width: 641px) {
    #finder-frontend header .related-links li {
        margin-bottom: 8px
    }
}

#finder-frontend header .related-links li a:link, #finder-frontend header .related-links li a:visited {
    text-decoration: none
}

#finder-frontend header .related-links li a:hover {
    text-decoration: underline
}

#finder-frontend .filter-form {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

@media (min-width: 641px) {
    #finder-frontend .filter-form {
        float: left;
    }
}

#finder-frontend .filtered-results {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

@media (min-width: 641px) {
    #finder-frontend .filtered-results {
        float: left;
        width: 66.66667%
    }
}

.js-enabled #finder-frontend .filter-form .button {
    display: none
}

#finder-frontend .filter-form p {
    max-width: 100%;
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    margin-bottom: 30px
}

@media (min-width: 641px) {
    #finder-frontend .filter-form p {
        font-size: 16px;
        line-height: 1.25
    }
}

#finder-frontend .help-text {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 12px;
    line-height: 1.25;
    display: block;
    padding: 5px 0
}

@media (min-width: 641px) {
    #finder-frontend .help-text {
        font-size: 14px;
        line-height: 1.42857
    }
}

@media (min-width: 641px) {
    #finder-frontend .help-text {
        padding: 10px 0
    }
}

#finder-frontend .govuk-option-select, #finder-frontend .filter {
    margin-bottom: 30px
}

#finder-frontend .filter {
    background-color: #dee0e2;
    padding: 0 5px
}

#finder-frontend .filter:focus {
    outline: 3px solid #ffbf47
}

#finder-frontend .filter .legend {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    display: -moz-inline-stack;
    display: inline-block;
    margin-right: 40px;
    font-weight: bold;
    padding-top: 10px
}

@media (min-width: 641px) {
    #finder-frontend .filter .legend {
        font-size: 19px;
        line-height: 1.31579
    }
}

#finder-frontend .radio-filter, #finder-frontend .text-filter {
    padding: 0 10px
}

#finder-frontend .radio-filter label, #finder-frontend .text-filter label {
    margin-right: 10px;
    display: -moz-inline-stack;
    display: inline-block
}

#finder-frontend .radio-filter input {
    width: 14px
}

#finder-frontend .form {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25
}

@media (min-width: 641px) {
    #finder-frontend .form {
        font-size: 19px;
        line-height: 1.31579
    }
}

@media (min-width: 641px) {
    #finder-frontend .form {
        max-width: 66.66667%
    }
}

#finder-frontend .form input.button[type=submit] {
    margin-top: 10px
}

#finder-frontend .form p {
    max-width: 100%
}

#finder-frontend .form fieldset.invalid {
    border-left: solid 4px #b10e1e;
    padding-left: 15px;
    margin-left: -19px
}

#finder-frontend .form .validation-message {
    color: #b10e1e;
    font-weight: bold;
    padding: 15px;
    margin-left: -19px;
    border-left: solid 4px #b10e1e
}

#finder-frontend .form .block-label {
    display: block;
    clear: left;
    position: relative;
    background: #dee0e2;
    border: 1px solid #dee0e2;
    padding: 18px 30px 15px 45px;
    margin: 5px 0;
    cursor: pointer
}

@media (min-width: 641px) {
    #finder-frontend .form .block-label {
        float: left
    }
}

#finder-frontend .form .block-label:hover {
    border-color: #0b0c0c
}

#finder-frontend .form .block-label.selected {
    background: #fff;
    border-color: #0b0c0c
}

#finder-frontend .form .block-label.focused {
    outline: 3px solid #ffbf47
}

#finder-frontend .form .block-label.focused input[type=checkbox]:focus {
    outline: none
}

#finder-frontend input.text {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    background: #fff;
    border: 1px solid #bfc1c3;
    width: 100%;
    margin: 0 0 0 -1px;
    padding: 5px 0;
    margin-bottom: 10px;
    text-indent: 5px
}

@media (min-width: 641px) {
    #finder-frontend input.text {
        font-size: 16px;
        line-height: 1.25
    }
}

#finder-frontend .button {
    background-color: #00823b;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    padding: .526315em .789473em .263157em;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    outline: 1px solid transparent;
    outline-offset: -1px;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 2px 0 #003618;
    -moz-box-shadow: 0 2px 0 #003618;
    box-shadow: 0 2px 0 #003618;
    font-size: 1em;
    line-height: 1.25;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: #fff;
    width: auto;
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2
}

#finder-frontend .button:visited {
    background-color: #00823b
}

#finder-frontend .button:hover, #finder-frontend .button:focus {
    background-color: #00692f
}

#finder-frontend .button:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #00823b;
    -moz-box-shadow: 0 0 0 #00823b;
    box-shadow: 0 0 0 #00823b
}

#finder-frontend .button.disabled, #finder-frontend .button[disabled="disabled"],
#finder-frontend .button[disabled] {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5
}

#finder-frontend .button.disabled:hover, #finder-frontend .button[disabled="disabled"]:hover,
#finder-frontend .button[disabled]:hover {
    cursor: default;
    background-color: #00823b
}

#finder-frontend .button.disabled:active, #finder-frontend .button[disabled="disabled"]:active,
#finder-frontend .button[disabled]:active {
    top: 0;
    -webkit-box-shadow: 0 2px 0 #003618;
    -moz-box-shadow: 0 2px 0 #003618;
    box-shadow: 0 2px 0 #003618
}

#finder-frontend .button:link, #finder-frontend .button:link:focus,
#finder-frontend .button:hover, #finder-frontend .button:focus, #finder-frontend .button:visited {
    color: #fff
}

#finder-frontend .button:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0
}

#finder-frontend .button:active:before {
    top: -10%;
    height: 120%
}

@media (min-width: 641px) {
    #finder-frontend .button {
        font-size: 24px;
        line-height: 1.25
    }
}

#finder-frontend .filtered-results .result-info {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    vertical-align: baseline;
    border-bottom: solid 1px #bfc1c3;
    margin: 0 0 15px 0;
    padding-bottom: 15px
}

@media (min-width: 641px) {
    #finder-frontend .filtered-results .result-info {
        font-size: 16px;
        line-height: 1.25
    }
}

#finder-frontend .filtered-results .result-info .result-count {
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 32px;
    line-height: 1.09375;
    margin-right: 5px
}

@media (min-width: 641px) {
    #finder-frontend .filtered-results .result-info .result-count {
        font-size: 48px;
        line-height: 1.04167
    }
}

#finder-frontend .filtered-results .feed {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 12px;
    line-height: 1.25;
    display: block;
    margin-bottom: 30px
}

@media (min-width: 641px) {
    #finder-frontend .filtered-results .feed {
        font-size: 14px;
        line-height: 1.42857
    }
}

#finder-frontend .filtered-results .feed span {
    padding-right: 5px
}

#finder-frontend .filtered-results .feed a {
    background: url(https://assets.publishing.service.gov.uk/finder-frontend/feed-icon-black-636b5f8a830ba4285e72c63f70eb2be97086bbf6cc37af92b942607b4cca1f9c.png) 0 40% no-repeat;
    font-weight: bold;
    padding: 0 10px 0 15px;
    text-decoration: none
}

#finder-frontend .filtered-results ul {
    list-style-type: none;
    padding-left: 0
}

#finder-frontend .filtered-results .document {
    border-bottom: solid 1px #bfc1c3;
    padding: 15px 0
}

#finder-frontend .filtered-results .document:first-child {
    padding-top: 0;
    margin-top: -2px
}

#finder-frontend .filtered-results .document h3 {
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    margin: 0
}

@media (min-width: 641px) {
    #finder-frontend .filtered-results .document h3 {
        font-size: 19px;
        line-height: 1.31579
    }
}

#finder-frontend .filtered-results .document h3 a {
    text-decoration: none
}

#finder-frontend .filtered-results .document dl {
    margin: 0
}

#finder-frontend .filtered-results .document dl dt, #finder-frontend .filtered-results .document dl dd {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 12px;
    line-height: 1.25;
    margin-left: 0
}

@media (min-width: 641px) {
    #finder-frontend .filtered-results .document dl dt, #finder-frontend .filtered-results .document dl dd {
        font-size: 14px;
        line-height: 1.42857
    }
}

#finder-frontend .filtered-results .document dl dt {
    display: none
}

#finder-frontend .filtered-results .document dl dt.metadata-date-label {
    display: -moz-inline-stack;
    display: inline-block
}

#finder-frontend .filtered-results .document dl dd {
    margin-right: 10px;
    display: -moz-inline-stack;
    display: inline-block
}

#finder-frontend .filtered-results .document p.historic {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 12px;
    line-height: 1.25;
    padding: 0 0 3px;
    color: #6f777b
}

@media (min-width: 641px) {
    #finder-frontend .filtered-results .document p.historic {
        font-size: 14px;
        line-height: 1.42857
    }
}

{
    padding-bottom: 30px
}

@media (min-width: 641px) {
    {
        padding-bottom: 60px
    }
}

h1 {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    font-weight: bold;
    padding-bottom: 10px
}

@media (min-width: 641px) {
    h1 {
        font-size: 24px;
        line-height: 1.25
    }
}

strong {
    font-weight: 600
}

.search-header {
    position: relative;
    margin: 0;
    padding: 30px 0 15px;
    overflow: visible
}

@media (min-width: 641px) {
    .search-header {
        padding: 45px 0 30px;
        width: 66.666%
    }
}

.search-header .searchfield {
    position: relative
}

.search-header .search-input {
    position: static;
    margin: 0;
    padding: 0 50px 0 0
}

.search-header .search-submit {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 50px;
    overflow: visible
}

.search-header input {
    -webkit-appearance: none;
    border-radius: 0;
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0 0 0 10px;
    display: block;
    height: 50px;
    border: 1px solid #bfc1c3;
    border-right: none;
    line-height: 48px !important
}

@media (min-width: 641px) {
    .search-header input {
        font-size: 19px;
        line-height: 1.31579
    }
}

.search-header button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: absolute;
    z-index: 4;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    border: none;
    overflow: hidden;
    text-indent: -5000px;
    color: #fff;
    background-color: #2b8cc4;
    background-image: url(https://assets.publishing.service.gov.uk/finder-frontend/search/search-button-fe10ecb60b18fdbcdadaf0918f1761b3847bf85d9924e3ca52a0110c648cb73a.png);
    background-repeat: no-repeat;
    background-position: -12.5% 50%
}

.search-header button:hover {
    background-color: #267daf
}

.search-header .spelling-suggestion p {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    margin: 0;
    padding: 10px 0 0
}

@media (min-width: 641px) {
    .search-header .spelling-suggestion p {
        font-size: 16px;
        line-height: 1.25
    }
}

@media (min-width: 641px) {
    #results {
        margin: 0 -15px
    }
}

@media (min-width: 641px) {
    #results .inner-block {
        padding: 0 15px
    }
}

@media (min-width: 641px) {
    #results .filter-form {
        float: left;
    }
}

#results .filter-form .info {
    margin: 0 0 15px
}

.js-enabled #results .filter-form .submit {
    display: none
}

@media (min-width: 641px) {
    #results .results-block {
        float: left;
        width: 66.66667%
    }
}

#results .results-block mark {
    background-color: transparent;
    color: inherit;
    font-weight: bold
}

#results .results-block .result-count {
    padding: 0
}

@media (min-width: 641px) {
    #results .results-block .scoped-result-count {
        font-size: 21px
    }
}

#results .results-block .scoped-result-count a {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    padding-top: 8px;
    padding-bottom: 7px
}

@media (min-width: 641px) {
    #results .results-block .scoped-result-count a {
        font-size: 16px;
        line-height: 1.25
    }
}

@media (min-width: 641px) {
    #results .results-block .scoped-result-count a {
        padding-top: 5px;
        padding-bottom: 5px
    }
}

#results .results-block .results-list {
    padding: 30px 0;
    list-style: none;
    margin: 0
}

#results .results-block .results-list.debug {
    list-style: decimal
}

#results .results-block .results-list.debug .sections {
    list-style: none
}

#results .results-block .results-list.debug .debug-link {
    color: green;
    word-wrap: break-word
}

#results .results-block .results-list.debug .debug-info {
    color: red
}

#results .results-block .results-list.debug .debug-info span {
    display: inline-block;
    min-width: 150px
}

#results .results-block .results-list li {
    max-width: 32.5em;
    margin: 0;
    padding: 0 0 15px
}

@media (min-width: 641px) {
    #results .results-block .results-list li {
        padding: 0 0 25px
    }
}

#results .results-block .results-list li .examples {
    padding-left: 15px;
    border-left: 1px solid grey
}

#results .results-block .results-list li .examples li {
    max-width: 32.5em;
    margin: 0;
    padding: 0 0 15px
}

#results .results-block .results-list li .examples li p {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 12px;
    line-height: 1.25
}

@media (min-width: 641px) {
    #results .results-block .results-list li .examples li p {
        font-size: 14px;
        line-height: 1.42857
    }
}

#results .results-block .results-list li .examples li:last-child {
    padding: 0
}

#results .results-block .results-list li h4 {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 12px;
    line-height: 1.25;
    margin: 0
}

@media (min-width: 641px) {
    #results .results-block .results-list li h4 {
        font-size: 14px;
        line-height: 1.42857
    }
}

#results .results-block .results-list li h4 a {
    font-weight: bold;
    text-decoration: none
}

#results .results-block .results-list li h4 a:hover, #results .results-block .results-list li h4 a:focus {
    color: #005ea5;
    text-decoration: underline
}

#results .results-block .results-list li h4.see-all a {
    text-decoration: underline
}

#results .results-block .results-list li.descoped-results {
    border-left: 4px solid #005ea5;
    padding: 15px 0 0 15px;
    margin-bottom: 30px
}

#results .results-block .results-list li.descoped-results .descope-message {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286
}

@media (min-width: 641px) {
    #results .results-block .results-list li.descoped-results .descope-message {
        font-size: 16px;
        line-height: 1.25
    }
}

#results .results-block .results-list li.descoped-results ol {
    padding: 15px 0 0
}

#results .results-block .results-list h3 {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    margin: 0;
    padding-bottom: 2px
}

@media (min-width: 641px) {
    #results .results-block .results-list h3 {
        font-size: 24px;
        line-height: 1.25
    }
}

#results .results-block .results-list h3 a {
    font-weight: bold;
    text-decoration: none
}

#results .results-block .results-list h3 a:visited mark {
    color: #4c2c92
}

#results .results-block .results-list h3 a:hover, #results .results-block .results-list h3 a:focus,
#results .results-block .results-list h3 a:hover mark, #results .results-block .results-list h3 a:focus mark {
    color: #005ea5;
    text-decoration: underline
}

#results .results-block .results-list .sections {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    margin: 0;
    padding: 0;
    overflow: hidden
}

@media (min-width: 641px) {
    #results .results-block .results-list .sections {
        font-size: 16px;
        line-height: 1.25
    }
}

#results .results-block .results-list .sections li {
    margin: 0;
    padding: 3px 0 2px;
    float: left;
    width: 50%
}

@media (min-width: 641px) {
    #results .results-block .results-list .sections li {
        width: 40%
    }
}

#results .results-block .results-list .attributes {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 12px;
    line-height: 1.25;
    color: #6f777b;
    padding: 0 0 3px;
    margin: 0
}

@media (min-width: 641px) {
    #results .results-block .results-list .attributes {
        font-size: 14px;
        line-height: 1.42857
    }
}

#results .results-block .results-list .attributes li {
    display: inline;
    padding: 0
}

#results .results-block .results-list .attributes li:after {
    content: ',';
    position: relative;
    left: -0.25em
}

#results .results-block .results-list .attributes li:last-child::after {
    content: ''
}

#results .results-block .results-list p {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    margin: 0;
    padding: 0
}

@media (min-width: 641px) {
    #results .results-block .results-list p {
        font-size: 16px;
        line-height: 1.25
    }
}

#results .results-block .results-list p.historic, #results .results-block .results-list p.meta {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 12px;
    line-height: 1.25;
    padding: 0 0 3px;
    word-wrap: break-word;
    color: #6f777b
}

@media (min-width: 641px) {
    #results .results-block .results-list p.historic, #results .results-block .results-list p.meta {
        font-size: 14px;
        line-height: 1.42857
    }
}

#results .zero-results {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25
}

@media (min-width: 641px) {
    #results .zero-results {
        font-size: 19px;
        line-height: 1.31579
    }
}

#results .zero-results h2 {
    margin-top: 30px;
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2
}

@media (min-width: 641px) {
    #results .zero-results h2 {
        font-size: 24px;
        line-height: 1.25
    }
}

#results .zero-results ul, #results .zero-results p {
    margin-top: 15px;
    margin-bottom: 15px
}

#results .zero-results ul {
    list-style: disc;
    list-style-position: outside;
    margin-left: 20px
}

@media (min-width: 641px) {
    .filter-form, .filtered-results {
        float: left;
        width: 100%;
    }
}

@media (min-width: 641px) {
    .filtered-results {
        width: 66.66667%
    }
}

.filter-form p {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    margin-bottom: 30px
}

@media (min-width: 641px) {
    .filter-form p {
        font-size: 16px;
        line-height: 1.25
    }
}

.filter-form .filter {
    margin-bottom: 10px;
    background-color: #dee0e2;
    padding: 5px
}

.filter-form .filter:focus {
    outline: 3px solid #ffbf47
}

.filter-form .filter .legend {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    display: -moz-inline-stack;
    display: inline-block;
    margin-right: 40px;
    font-weight: bold
}

@media (min-width: 641px) {
    .filter-form .filter .legend {
        font-size: 19px;
        line-height: 1.31579
    }
}

.filter-form .radio-filter {
    padding: 10px
}

.filter-form .radio-filter label {
    margin-right: 10px;
    display: -moz-inline-stack;
    display: inline-block
}

.filter-form .radio-filter input {
    width: 14px
}

.checkbox-filter {
    background-color: #dee0e2;
    padding: 5px
}

.js-enabled .checkbox-filter .head {
    cursor: pointer
}

.js-enabled .checkbox-filter .toggle {
    background: url(https://assets.publishing.service.gov.uk/finder-frontend/toggle-sprite-horizontal-0c055f9b806a9a2af3eeca6bfaaebc6dc74daacf0d806d7161338f4bb3ac0ec7.png) no-repeat;
    height: 10px;
    width: 12px;
    background-position: -12px 0;
    display: -moz-inline-stack;
    display: inline-block
}

.js-enabled .checkbox-filter.closed .checkbox-container {
    position: absolute;
    left: -9999px;
    padding: 0;
    margin: 0
}

.js-enabled .checkbox-filter.closed .toggle {
    background-position: 0 0
}

.checkbox-filter ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px
}

.checkbox-filter ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5)
}

.checkbox-filter .head {
    padding: 5px;
    position: relative
}

.checkbox-filter .head .controls {
    display: none
}

.js-enabled .checkbox-filter .head .controls {
    position: absolute;
    right: 5px;
    top: 5px;
    display: inline
}

.js-enabled .checkbox-filter .head .controls .clear-selected {
    display: -moz-inline-stack;
    display: inline-block;
    margin-right: 5px
}

.js-enabled .checkbox-filter .head .controls .clear-selected.js-hidden {
    left: -9999em;
    position: relative;
    height: 0px;
    overflow: hidden
}

.checkbox-filter .checkbox-container {
    position: relative;
    padding: 5px;
    background-color: #fff;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden
}

.checkbox-filter .checkbox-container ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.checkbox-filter .checkbox-container ul ul {
    padding-left: 20px
}

.checkbox-filter .checkbox-container li label {
    display: -moz-inline-stack;
    display: inline-block;
    margin-left: 20px
}

.checkbox-filter .checkbox-container li input {
    width: 12px;
    border: none;
    margin: 3px 10px 0 0;
    vertical-align: top;
    position: absolute
}

@media (min-width: 641px) {
    main.no-search-term h1 {
        font-family: "nta", Arial, sans-serif;
        font-weight: 400;
        text-transform: none;
        font-size: 32px;
        line-height: 1.09375;
        font-weight: bold;
        padding-bottom: 15px
    }
}

@media (min-width: 641px) and (min-width: 641px) {
    main.no-search-term h1 {
        font-size: 48px;
        line-height: 1.04167
    }
}


