.form-control-full {
    width: 100%; }
    @media (min-width: 641px) {
      .form-control-full {
        width: 100%; } }
.button.button-secondary {
    background-color:#cccccc;
    color:black;
}
.bat_searchresult > p {
    margin-bottom: 0.5em;
}
.bat_searchresult {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 30px;
}
.found-heading {
    border-bottom: 1px solid lightgrey;
    position: relative;
    clear: both;
    min-height: 48px;
    margin-bottom: 10px;
}
.found-count {
    float: left;
}
.new-search {
    position: absolute;
    right: 0;
}
.search-results-header .form-group {
    border-bottom: 1px solid lightgrey;
    min-height: 48px;
    clear: both;
    margin-bottom: 10px;
    text-align: right;
}
.search-results-header select {
    width: 180px;
}
.search-results-header .form-label {
    display: inline-block;
}

.filter-apply-button {
    padding-top: 30px;
    padding-bottom: 20px;
}

.filter-apply-button-inline {
    padding-top: 15px;
}

.panel .filter-apply-button {
    padding-bottom: 0;
}

.padded-filter {
    padding: 12px;
    margin-bottom: 10px;
    background-color: #dee0e2;
}
.padded-filter .legend {
    font-size: 19px;
    font-weight: 400;
    display: inline-block;
    margin-right: 40px;
    font-weight: bold;
}
.padded-filter .head {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 13px;
}
.padded-filter .filter-change {
    padding-top: 13px;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
}
.padded-filter .filter-options {
    padding: 10px;
    padding-top: 13px;
    position: relative;
    background-color: #fff;
    overflow-y: scroll;
    overflow-x: hidden
}

.padded-filter .filter-options.overflow {
    overflow: visible;
}

.padded-filter .filter-options li {
    border-bottom: 1px solid #dee0e2;
    padding: 8px;
    padding-top: 11px;
    vertical-align: middle;
}
.padded-filter .filter-options li.last {
    border-bottom: none;
}

.filter .head, .filter>div:not(.filter-change) {
    cursor: default !important;
}

.filter-form .filter:focus {
    outline: none;
}

.multiple-radio {
    margin-top: 20px;
}
.multi-choice-label span {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
.multi-choice-label span:first-child {
    margin-bottom: 10px;
}

dt, dd { 
    display: inline;
    line-height: 30px;
}

dt {
    margin-right: 0.25em;
}
dt::after {
    content: ':';
}
dd::after {
    display: block;
    content: '';
}

dd > details, dd > details[open] {
    display: inline;
}

.course-basicinfo {
    margin-top: 30px;
    margin-bottom: 30px;
}
.course-basicinfo dl dt {
    width: 25%;
    float: left;
    margin: 0;
    clear: both;
}
.course-basicinfo dl dd {
    width: 75%;
    float: right;
}


.course-contents h3::after {
    content: ':';
}

.course-contents ul {
    margin-left: 20px;
}

.course-contents ul li {
    list-style-image: url('/images/dash.png');
    padding-top: 5px;
    padding-bottom: 5px;
}

.checkbox-filter .checkbox-container.checkbox-container-noscroll
{
    height: auto;
    scroll-behavior: initial;
}

table.alt th, table.alt td {
    padding-left:10px;
    padding-right:10px;
}
table.alt th
{
    border: none;
    background-color: #cccccc;
    font-weight: bold;
}
.sortedby-label {
    margin-right: 0.5em;
}

.heading-xlarge-bat {
    margin-top: 0.125em;
    margin-bottom: 0.65em;
}

.bat_searchresult .heading-medium {
    margin-top: 1.075em;
    margin-bottom: 0.58em;
}

.phase-banner-wrapper
{
    max-width: 960px;
    width: 960px;
    margin: 0 15px;
    margin: 0 30px;
    margin: 0 auto;
    padding-bottom: 10px;
    outline: none;
}

@media screen and (min-width: 641px)
{
    .phase-banner-wrapper 
    {
        margin: 0 30px;
    }
}

@media screen and (min-width: 1020px)
{
    .phase-banner-wrapper 
    {
        margin: 0 auto;
    }
}


h3.back-link {
    margin-top: 5px;
}
a.back-link {
    margin-top: 8px;
    margin-bottom: 8px;
}

h3.filter-heading {
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

.course-details-section {
    float: left;
    width: 100%;
}

.multiple-choice-subject {
    width: 100%;
    border-bottom: solid 1px #cccccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.multiple-choice-subject label {    
    margin-bottom: 15px;
}

.twitter-typeahead
{
    width:100%;
}

.tt-suggestion{    
    padding: 7.5px;
    cursor: pointer;
}
.tt-suggestion:hover, .tt-cursor {
    background-color: #d5e8f3;
}
.tt-menu {
    width:100%;
    background-color: white;
    border: #bfc1c3 2px solid;
    box-shadow: 0 3px 2px #bfc1c3;
}

@media screen and (min-width: 641px)
{
    .panel .tt-menu
    {
        width:50%;
    }
}


.map-results-list {
    margin-left: 30px;
}

.resultsmap {
    position: relative;
    text-align: center;
}

.mapimage::before {
    content: "Loading...";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    right: 0;
    font-size: 18px;
    margin-top: -9px;
}

.mapimage {
    z-index: 2;
    position: relative;
}
.mapimage img {
    z-index: 2;
    position: relative;
}

.mapcontrols {
    z-index: 3;
    position: absolute;
    right: 10px;
    bottom: 38px; 
    width: 28px;
    height: 55px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    width: 28px;
    height: 55px;
}

.mapzoombutton {
    background-color: transparent;
    background-image: none;
    display: block;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: relative;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    width: 27px;
    height: 27px;
    top: 0px;
    left: 0px;
    background-position: initial initial;
    background-repeat: initial initial;
}

.mapzoomdivider {
    position: relative;
    overflow: hidden;
    width: 67%;
    height: 1px;
    left: 16%;
    background-color: rgb(230, 230, 230);
    top: 0px;
}

.view-list-link, .view-map-link {
    position: relative;
    background: transparent;
    display: inline-block;
    line-height: 35px;
    margin-left: 30px;
}
.view-list-link::before {
    position: absolute;
    content: "";
    background: transparent url("/images/maps/icon-burger.png") no-repeat 0 0;
    width: 71px;
    height: 56px;
    background-size: 30%;
    left: -30px;
    top: 6px;
}
.view-map-link::before {
    position: absolute;
    content: "";
    background: transparent url("/images/maps/icon-map.png") no-repeat 0 0;
    width: 75px;
    height: 56px;
    background-size: 30%;
    left: -30px;
    top: 0
}

.left {
    float: left;
}
.right {
    float: right;
    background: transparent;
}
